@model IEnumerable<DekkSkate.Fav>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Favorite</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 mb-4" onclick="window.location='@Url.Action("Details", "Skateboards", new { id = item.SkateboardID })'">
            <div class="card shadow-sm position-relative">
                <div class="favorite-icon position-absolute" style="top: 10px; right: 10px;">
                </div>
                <img src="@Url.Content("~/Content/images/" + item.url)" class="card-img-top" alt="Skateboard Image" style="width: 50%; height: auto; display: block; margin: 0 auto;">
                <div class="card-body text-center">
                    <h5 class="card-title">@item.Brand</h5>
                    <p class="card-text">@item.Model</p>
                    <p class="card-text"><strong>Price:</strong> @item.Price THB</p>

                </div>
            </div>
        </div>}

</div>

<br />
<br />
<br />
@Html.ActionLink("Back to List", "Index", "Skateboards", null, new { @class = "btn btn-primary" })

<style>
    .card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        border-radius: 15px;
        padding: 17px 22px 12px;
        margin-top: 20px;
    }

        .card:hover {
            transform: scale(1.05); /* ขยาย 5% เมื่อชี้ */
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* เพิ่มเงา */
        }
</style>