@model DekkSkate.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>

        @if (User.IsInRole("Admin"))
        {
            <h4>User List</h4>



            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            <td>
                                <form method="post" action="@Url.Action("UpdateUserRole", "Manage")">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="userId" value="@user.Id" />
                                    <select name="role" class="form-control" onchange="this.form.submit()">
                                        <option value="@Model.UserRoles[user.Id].FirstOrDefault()" selected>
                                            @Model.UserRoles[user.Id].FirstOrDefault()
                                        </option>
                                        @if (!Model.UserRoles[user.Id].Contains("Admin"))
                                        {
                                            <option value="Admin">Admin</option>

                                        }
                                        @if (!Model.UserRoles[user.Id].Contains("Service"))
                                        {
                                            <option value="Service">Service</option>

                                        }
                                        @if (!Model.UserRoles[user.Id].Contains("User"))
                                        {
                                            <option value="User">User</option>

                                        }
                                    </select>
                                </form>
                            </td>
                            <td>

                                <form action="@Url.Action("Delete", "Manage", new { id = user.Id })" method="post">
                                    @Html.AntiForgeryToken()
                                    <input type="submit" value="Delete" class="btn btn-danger" />
                                </form>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>

        }

        @if (User.IsInRole("Service"))
        {
            @Html.ActionLink("My Product", "ProductList", "Skateboards", new { id = Model.SkateboardID }, new { @class = "btn btn-warning" })
        }

        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("User List", "UserList", "Skateboards", new { id = Model.SkateboardID }, new { @class = "btn btn-warning" })
        }
    </dl>
</div>
