@model DekkSkate.Reports

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Reports</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descript)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descript)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmittedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmittedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRead)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Report_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
