@model DekkSkate.Models.UserListViewModel

@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("Admin"))
{
    <h2>Users</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>
                        @Html.ActionLink("Edit", "EditUser", new { id = user.Id }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Details", "DetailsUser", new { id = user.Id }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Delete", "DeleteUser", new { id = user.Id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Skateboards</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Brand</th>
                <th>CreatedBy</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var skateboard in Model.Skateboards)
            {
                <tr>
                    <td>@skateboard.Brand</td>
                    <td>@skateboard.CreatedBy</td>
                    <td>
                        @Html.ActionLink("Edit", "EditSkateboard", new { id = skateboard.SkateboardID }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Details", "DetailsSkateboard", new { id = skateboard.SkateboardID }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Delete", "DeleteSkateboard", new { id = skateboard.SkateboardID }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
